.desktopbackgroundtable {
    float:left;
    width:45%;
    font-size:1.3em;
}

#backgroundstable1 {
    margin-top:-3em;
}

#backgroundstable2 {
    margin-top:-3em;
}

.backgroundname {
    font-size:1.5625em;
}

#desktopbackgroundstabletitle {
    border-bottom:0.1875em groove rgb(93, 93, 104);
}


#desktopbackgroundtablesdiv {
    background-color: grey;
}

table {
    padding-left:2em;
    padding-right:2em;
}