#sonnetsheader {
    font-size:3em;
    margin-top:0em;
    margin-bottom: 0em;
    padding-bottom:0.3em;
    border-bottom: 0.125em groove rgb(93, 93, 104);
}

#sonnetsintro {
    font-size:1.5em;
    margin:0em;
}

tr.sonnettitles {
    font-size:1.5625em;
    padding:0.2em;
    margin:0em;
    text-align:left;
    border-bottom:0.125em groove rgb(93, 93, 104);
}

tr.sonnetcontent {
    font-size:1.1875em;
    padding:0.4375em;
}

#sonnetstable2 {
    float:left;
    width:30%;
    margin-top:0em;
}


table {
    float:left;
    width:30%;
}

#copyright {
    text-decoration: underline;
}